* {
	margin: 0;
	padding: 0;
}

body,
html {
	font-family: "微软雅黑";
}


/*.hei_544{
	height: 544px;
}
.hei_487{
	height: 487px;
}
.hei_509{
	height: 509px;
}
.hei_464{
	height: 464px;
}
.hei_474{
	height: 474px;
}
.hei_507{
	height: 507px;
}*/

.fullPage {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

.banner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	overflow-x: hidden;
	background:url(../images/ser_bg.png) no-repeat;
	background-size:100% 100%;
}

.banner img.bg {
	display: block;
	width: 100%;
	height: 100%;
}

.banner dl {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 25px solid #fff;
}

.banner dl dd h2 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	text-align: center;
	padding-top: 150px;
}

.banner dl dd p {
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	margin: 0;
	text-align: center;
}

.banner dl dd span {
	color: #fff;
	font-size: 20px;
	display: block;
	width: 380px;
	line-height: 27px;
	margin: 85px auto;
	text-align: center;
}

.banner dl dt {
	height: 6px;
}

.banner dl dt img {
	display: block;
	height: 100%;
	/*width: 100%;*/
}
#wave{
	position: absolute;
	width: 100%;
	height: 90%;
	left: 0;
	bottom: 0;
	z-index: 999;
}
#wave *{position: relative;z-index: 999;}
div.type {
	width: 100%;
	background-color: #eff3fb;
	/*padding-bottom: 20px;*/
}

div.main {
	overflow: hidden;
}

div.type .typeList li.col-lg-4 {
	width: 349px;
	/*padding-top: 0 !important;*/
	height: 535px;
	padding: 0 !important;
	margin-right: 76px;
	position: relative;
	/*background: url(../images/member37.png) no-repeat center;*/
}

div.type .typeList li.col-lg-4 img {
	margin-bottom: 0 !important;
}

div.type .typeList {
	width: 100%;
	margin-top: 0;
	overflow: hidden;
	background: none;
}

div.type .typeList li a {
	display: block;
	width: 100%;
	/*background-position: center center;
	background-size: cover;*/
	/*background: url(../images/ser5.png);*/
}


/*div.type .typeList li.last{
	margin-right: 0;
}*/

div.type .typeList li a img {
	display: block;
	width: 100%;
	height: auto;
}

div.type .typeList li div.introduce {
	/*padding: 0 50px 0 30px;*/
	position: absolute;
	z-index: 10;
	top: 56px;
	width: 100%;
	width: 266px;
	left: 45px;
	overflow: hidden;
}

div.type .typeList li div.introduce h3 {
	margin-bottom: 35px;
	font-size: 18px;
	color: #333;
	margin-top: 0;
	font-family: "宋体";
	font-weight: bold;
}

div.type .typeList li div.introduce ul {
	overflow: hidden;
}

div.type .typeList li div.introduce ul li {
	padding: 0;
	line-height: 26px;
}

div.type .typeList li div.introduce ul li a {
	font-size: 14px;
	color: #666;
	cursor: pointer;
}

div.type .typeList li div.introduce ul li a:hover {
	border-bottom: none;
	text-decoration: none;
}

div.type dl.xunao {
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	margin-bottom: 0;
	width: 235px;
	left: 482.5px;
	margin-left: -100px;
}

div.type div.bottom {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	height: 52px;
	padding-top: 20px;
}

div.type dl.xunao dt {
	float: left;
	margin-right: 9px;
	font-size: 14px;
	color: #46506c;
	margin-top: 5px;
}

div.type dl.xunao dd {
	float: left;
}

div.route {
	width: 100%;
	height: 1331px;
	background: url(../images/route.png) no-repeat center top;
	background-size: 100% 100%;
}
div.route .service_step{display: none;}
div.route dt{
	font-weight: normal;
}
div.route div.content {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

div.route div.content img.line {
	width: 874px;
	display: block;
	margin-left: 157px;
}

div.route div.content dl.one {
	position: absolute;
	top: 64px;
	left: 480px;
}

div.route div.content dl.one dt {
	float: left;
	width: 330px;
	height: 121px;
	background: url(../images/dl_1.png) no-repeat center top;
	background-size: 100% 100%;
	margin-right: 10px;
}

div.route div.content dl.one dd {
	float: left;
	line-height: 121px;
	color: #fff;
	font-size: 14px;
}

div.route div.content dl.one dt p {
	width: 240px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-size: 14px;
	margin-bottom: 0;
}

div.route div.content dl.one dt p.first {
	margin-top: 15px;
}

div.route div.content dl.two {
	position: absolute;
	top: 484px;
	left: 0px;
}

div.route div.content dl.two dt {
	float: left;
	width: 168px;
	height: 16px;
	color: #fff;
	font-size: 14px;
	background: url(../images/dl2.png) no-repeat right center;
	background-size: 100px 100%;
}

div.route div.content dl.two dt span {
	display: block;
	margin-top: -2px;
}

div.route div.content dl.two dd {
	float: left;
	margin-left: 25px;
}

div.route div.content dl.two dd ul {
	width: 214px;
	margin-top: -48px;
	overflow: hidden;
}

div.route div.content dl.two dd ul li,
div.route div.content dl.four dd ul li {
	float: left;
	color: #fff;
	line-height: 30px;
}

div.route div.content dl.two dd ul li.odd,
div.route div.content dl.four dd ul li.odd {
	float: right;
}

div.route div.content dl.three {
	position: absolute;
	left: 463px;
	top: 449px;
}

div.route div.content dl.four {
	position: absolute;
	left: 651px;
	top: 374px;
	color: #fff;
	font-size: 14px;
}

div.route div.content dl.four dt {
	height: 125px;
	background: url(../images/dl4.png) center bottom no-repeat;
	background-size: 17px 100px;
}

div.route div.content dl.four dd ul {
	width: 161px;
	overflow: hidden;
	margin-top: 6px;
}

div.route div.content dl.four dt span {
	display: block;
	text-align: center;
}

div.route div.content dl.five {
	position: absolute;
	right: 256px;
	top: 322px;
}

div.route div.content dl.six {
	position: absolute;
	right: 14px;
	width: 166px;
	top: 555px;
	color: #fff;
	font-size: 14px;
}

div.route div.content dl.six dt {
	float: left;
}

div.route div.content dl.six dd {
	float: left;
	margin-left: 10px;
}

div.route div.content dl.seven {
	position: absolute;
	right: 0px;
	
	top: 684px;
	color: #fff;
	font-size: 14px;
}

div.route div.content dl.seven dt {
	float: left;
}

div.route div.content dl.seven dt ul {
	overflow: hidden;
	width: 158px;
	margin-right: 16px;
}

div.route div.content dl.seven dt ul li {
	float: left;
	line-height: 30px;
}

div.route div.content dl.seven dt ul li.even {
	float: right;
}
div.route div.content dl.seven dd {
	float: right;
	width: 180px;
	background: url(../images/dl7.png) no-repeat left center;
	background-size: 100px 16px;
	margin-top: 33px;
}
div.route div.content dl.seven dd span{
	float: right;
}
div.route div.content dl.seven dt ul li.mar {
	margin-top: 17px;
}
div.route div.content dl.eight {
	position: absolute;
	right: 222px;
	bottom: 203px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
}

div.route div.content dl.nine {
	position: absolute;
	/*right: 358px;*/
	right: 342px;
	bottom: 340px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
}
div.route div.content dl.ten {

	left: 428px;
	top: 846px;
	
}
div.route div.content dl.ten ul{
	margin-top: -5px !important;
	width: 230px !important;
}

div.route div.content dl.ten dt{
	margin-top: 34px !important;
	width: 181px !important;
}
div.route div.content dl.ten dd{
	margin-left: 15px !important;

}
div.route div.content dl.eleven {
	position: absolute;

	left: 365px;
	bottom: 508px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
}
div.route div.content dl.eleven dd{
	margin-bottom: 10px;
}

div.route div.content dl.eleven dt img{
	display: block;
	width: 17px;
	margin: 0 auto;
}
div.route div.content dl.twelve {

	
	top: 923px;
	
}
div.route div.content dl.twelve ul{
	margin-top: -5px !important;
	width: 190px !important;
}
div.route div.content dl.twelve dd{
	margin-left: 15px !important;

}
div.route div.content dl.twelve dt{
	margin-top: 32px !important;

}
div.route div.content dl.thirteen {
	position: absolute;
	text-align: center;
	left: 196px;
	bottom: 55px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
}
div.route div.content dl.thirteen dt img{
	display: block;
	margin: 0 auto;
}
div.route div.content dl.fourteen {
	top: 1038px !important;
	left: 294px !important;
}
div.route div.content dl.thirteen dd.one{
	margin-bottom: 10px;
}
div.route div.content dl.thirteen dd.last{
	margin-top: 10px;
}
/*div.userList{
	width: 100%;
	overflow: hidden;
	background: #eff3fb;
}
div.userList .list{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
div.userList p.bg{
	width: 30px;
	height: 57px;
	margin-left: 586px;
	margin-bottom: 55px;
}

div.userList dl{
	text-align: center;
}

div.userList dl dt{
	color: #333;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 13px;
    text-align: center;
    font-weight: normal;
}
div.userList dl dd{
	font-size: 16px;
	color: #666;
	margin-bottom: 76px;
}

div.userList ul{
	width: 100%;
	overflow: hidden;
	margin-bottom: 90px;
}

div.userList ul li{
	padding: 0;
	position: relative;
}
div.userList ul li a{
	display: block;
	width: 100%;
}

div.userList ul li i{
	display: block;
	overflow: hidden;
	height: 165px;
}
div.userList ul li img{
	display: block;
	margin: 0 auto;
	margin-bottom: 64px;
}
div.userList ul li a p.listt{
	text-align: center;
	font-size: 16px;
	color: #333;
	margin: 0;
	margin-bottom: 33px;
	font-weight: bold;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.userList ul li a:hover{
	text-decoration: none;
}
div.userList ul li a div{
	font-size: 14px;
	color: #666;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 0 39px;
}
div.userList ul li.last{
	background: none;
}

div.userList ul li span.shandow{
	position: absolute;
	right: -18px;
	top: 0;
}*/

/*合作意向*/
div.hz{
	width: 100%;
	overflow: hidden;
	background: #eff3fb;
}
div.hz .list{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
div.hz p.bg{
	width: 30px;
	height: 57px;
	margin-left: 586px;
	margin-bottom: 55px;
}

div.hz dl{
	text-align: center;
}

div.hz dl dt{
	color: #333;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 13px;
    text-align: center;
    font-weight: normal;
}
div.hz dl dd{
	width:554px;
	margin:0 auto;
	font-size: 16px;
	color: #666;
	text-align:center;
	margin-bottom: 26px;
}

.hz .list .hz_form{
	width:930px;
	margin:0 auto;
}
.hz .list .hz_form .form_list{
	width:100%;
	overflow:hidden;
}
.hz .list .hz_form .form_list li{
	width:450px;
	height:60px;
	float:left;
	margin-right:30px;
	margin-top:30px;
	border-radius:5px;
	background:#fff;
	line-height:60px;
}
.hz .list .hz_form .form_list .mar_rt{
	margin-right:0;
}
.hz .list .hz_form .form_list li label{
	width:100px;
	font-size:14px;
	color:#666;
	line-height:60px;
	font-weight:normal;
	margin-left:20px;
}
.hz .list .hz_form .form_list li input{
	display:inline-block;
	width:310px;
	outline: none;
}
.hz .list .hz_form .form_list .text_area{
	width:100%;
	height:190px;
	line-height:16px;

}
.hz .list .hz_form .form_list .text_area .text{
	width:790px;
	height:145px !important;
	// border:1px solid ;
	resize:none;
	vertical-align:top;
	margin-top:22px;
	outline:none;
}
.hz .list .hz_form .hz_btn{
	display:block;
	width:450px;
	height:60px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:70px;
	border-radius:5px;
	background:#1090e8;
	font-size:16px;
	color:#FFF;
	line-height:60px;
	text-align:center;
}